N8N Leads IA Workflow.json
{
  "name": "Bot Chat",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "frequencyPenalty": 0.3,
          "maxTokens": 150,
          "presencePenalty": 0.3,
          "temperature": 0.2,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1056,
        432
      ],
      "id": "55781108-c826-407b-960f-61cafddeae60",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "LYE4FreB1GhkXZy0",
          "name": "API ATter"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chegada Mensagem').item.json.body.data.key.remoteJid }}",
        "contextWindowLength": 8
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1264,
        432
      ],
      "id": "a609f1c4-1c6c-45e0-aacf-fbd139fc5e39",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/16AisThnTSiVDboyzTMTHsA2vVVP3BEKlr3upikAEyLg/edit?tab=t.0"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        1520,
        416
      ],
      "id": "b83def87-8d64-4bab-82be-aded9f53f48a",
      "name": "BaseDados",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "bJOODHGNCtXhwwd4",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7edde3e9-b7b6-43d9-8d5b-1c320320e402",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -528,
        0
      ],
      "id": "dd338bae-b5c0-4f6f-a167-c81690df24ec",
      "name": "Chegada Mensagem",
      "webhookId": "7edde3e9-b7b6-43d9-8d5b-1c320320e402"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você será um bot de whatsapp que responderá conforme a mensagem do cliente seguindo fielmente seu prompt\nMensagem que você irá receber {{ $('Chegada Mensagem').item.json.body.data.message.conversation }} nome de quem enviou {{ $('Chegada Mensagem').item.json.body.data.pushName }}\n\nResponder somente a mensagem, sem quebra nenhuma\n\nSempre busque as informações que estão em sua tool, há uma base de dados em um doc.",
        "options": {
          "systemMessage": "você é o Bot Xandinho, assistente de WhatsApp da Átter (pt-BR). objetivo: falar apenas sobre serviços de dados da Átter, qualificar interesse e conduzir próximos passos. nunca responda fora desse escopo.\n\ntom e formato\n- tom profissional, direto e cordial.\n- escreva em um único parágrafo, 1–3 frases curtas, sem quebras de linha, sem emojis (a menos que o cliente use), sem “bot:” ou explicações técnicas.\n- se houver nome do cliente, use uma vez no começo apenas.\n- apresente-se somente na primeira interação do dia (timezone America/Sao_Paulo): “Oi, sou o Bot Xandinho da Átter.” depois disso, não use “oi/olá” novamente.\n- capitalização obrigatória: sempre inicie a mensagem com letra maiúscula; use sentence case; mantenha nomes próprios com inicial maiúscula (Átter, Power BI, ETL/ELT).\n- antes de enviar, faça a checagem: 1) começa com maiúscula? 2) até 3 frases? 3) no máximo 1 pergunta útil?\n\nuso da base\n- sempre priorize a base de conhecimento local; não pergunte o que já estiver lá.\n- se faltar informação essencial para avançar, faça no máximo 1 pergunta objetiva (ex.: fonte de dados, objetivo do dashboard, prazo).\n\nescopo permitido (apenas isso)\n- serviços da Átter: engenharia de dados, pipelines/ETL/ELT, modelagem e governança, BI/dashboards (Power BI), automações/n8n, integrações, monitoramento e alertas, BPO de dados, diagnósticos, prazos, cases/resultados, proposta/orçamento, agendamento de reunião, suporte e dúvidas sobre contratação.\n\nfora de escopo (não responder o conteúdo; redirecionar)\n- qualquer tema sem vínculo com nossos serviços (ex.: filosofia, “dados de RPG”, curiosidades gerais, tecnologia genérica).\n- política: 1ª ocorrência → 1 frase redirecionando para nossos serviços e propondo uma opção útil. 2ª ocorrência consecutiva → reafirme o foco e ofereça atendimento humano. nunca debata fora do escopo.\n\nexemplos de redirecionamento (uma linha)\n- “Esse tema foge do meu escopo; posso explicar como estruturamos dados em data lake/warehouse e entregamos dashboards em Power BI?”\n- “Posso te ajudar com nossos serviços de dados (engenharia, BI e automações); quer que eu explique rapidamente o diagnóstico inicial?”\n\ndesambiguação de “dados”\n- se “dados” for ambíguo (estatística genérica, “dados de RPG”), faça UMA pergunta de clarificação orientada ao serviço: “Você se refere aos dados da sua empresa para integrar e criar dashboards, certo? Se sim, posso explicar nosso ETL e a visualização.”\n\noferta de proposta e próximos passos\n- só ofereça proposta quando houver sinal claro de interesse (cliente pedir preço/escopo ou demonstrar intenção). use: “Posso preparar uma sugestão personalizada com base no que você descreveu; quer que eu avance com isso?”\n- se aceitar, proponha ação objetiva: diagnóstico rápido ou agenda de call, sugerindo datas/horários.\n\nhandoff para humano\n- se o cliente pedir atendente ou insistir fora do escopo, responda: “Certo, vou acionar um atendente e ele continua por aqui com você.”\n\nproibido\n- responder fora do escopo; repetir “oi/olá”; textos longos; “<nome> enviou essa mensagem”; dizer que é “um modelo de linguagem”.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1216,
        176
      ],
      "id": "8fdf1cbb-23b0-4edc-a58d-a9fe37c5b497",
      "name": "Bot do Chat"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.atter.com.br/message/sendText/bot_atter",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "4CF2E8D038E6-490A-A2C8-C408886358F2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Chegada Mensagem').item.json.body.data.key.remoteJid }}\",\n      \"text\": \"{{ $json.output }}\"\n  } ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        176
      ],
      "id": "ac61bc79-7882-4ceb-8ce8-3359933bda84",
      "name": "Resposta do Bot"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "473d4565-475b-46ea-8c5c-cb3f40bd9d8a",
              "name": "Bot Name",
              "value": "=botatter",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        0
      ],
      "id": "e96272cd-22ae-4a8b-974b-6ff4c82f9ef5",
      "name": "ConfiguraçãoGlobal"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "08db0721-e6d0-4c20-8775-cd0f61f7e801",
              "leftValue": "={{ $('Chegada Mensagem').item.json.body.data.key.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "id": "0792ccc3-f6cc-4f50-b167-f195b185d7a6",
      "name": "FromMe?"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('ConfiguraçãoGlobal').item.json['Bot Name'] }}_{{ $('Edit Fields').item.json['Número'] }}_block",
        "value": "true",
        "expire": true,
        "ttl": 600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        496,
        -112
      ],
      "id": "016428a6-71a1-4cde-b314-02e4bcdc2dff",
      "name": "Chave Block",
      "credentials": {
        "redis": {
          "id": "qNTK7sI9MJBVH3x0",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "isBlocked",
        "key": "={{ $('ConfiguraçãoGlobal').item.json['Bot Name'] }}_{{ $('Edit Fields').item.json['Número'] }}_block",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        512,
        160
      ],
      "id": "73776253-0615-45ba-9287-3caa73b3ff85",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "qNTK7sI9MJBVH3x0",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "95c3ad7e-766a-406c-b15f-65027e737c53",
              "leftValue": "={{ $json.isBlocked }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        752,
        160
      ],
      "id": "9e9c5c50-6ae7-42c2-85e6-28957c5c6b71",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9ff983bc-8d80-426b-8c91-d1975043a556",
              "name": "Número",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        0
      ],
      "id": "c7080a09-948f-48e9-b555-49c4a980290a",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        992,
        0
      ],
      "id": "e77b82f0-1c6a-4eb2-a633-52779fd10b6e",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {
    "Chegada Mensagem": [
      {
        "json": {
          "headers": {
            "host": "leads-n8n-n8n.xbmrli.easypanel.host",
            "user-agent": "axios/1.7.9",
            "content-length": "904",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "leads-n8n-n8n.xbmrli.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "bd2801d222fc",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "bot_atter",
            "data": {
              "key": {
                "remoteJid": "5514997702064@s.whatsapp.net",
                "fromMe": false,
                "id": "44707639F44252EE5125E57424ED4216"
              },
              "pushName": "Gustavo C. Guerke",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": ".",
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderTimestamp": "1754568741",
                    "recipientKeyHash": "8zGxw4cUgaaeDA==",
                    "recipientTimestamp": "1753907746"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "aSTPC/K69hQYFUjJaOyWrlV1dksOp9P2W4XEdad29xI="
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1754607545,
              "instanceId": "5d63eff4-ada3-4de4-9791-2c23af991e4d",
              "source": "android"
            },
            "destination": "https://leads-n8n-n8n.xbmrli.easypanel.host/webhook-test/7edde3e9-b7b6-43d9-8d5b-1c320320e402",
            "date_time": "2025-08-07T19:59:05.556Z",
            "sender": "554197024218@s.whatsapp.net",
            "server_url": "https://evolution.atter.com.br",
            "apikey": "4CF2E8D038E6-490A-A2C8-C408886358F2"
          },
          "webhookUrl": "https://leads-n8n-n8n.xbmrli.easypanel.host/webhook-test/7edde3e9-b7b6-43d9-8d5b-1c320320e402",
          "executionMode": "test"
        }
      }
    ],
    "Edit Fields": [
      {
        "json": {
          "Número": "5514997702064@s.whatsapp.net"
        }
      }
    ],
    "Bot do Chat": [
      {
        "json": {
          "name": "First item",
          "code": 1
        }
      },
      {
        "json": {
          "name": "Second item",
          "code": 2
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Bot do Chat",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Bot do Chat",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "BaseDados": {
      "ai_tool": [
        [
          {
            "node": "Bot do Chat",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chegada Mensagem": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bot do Chat": {
      "main": [
        [
          {
            "node": "Resposta do Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConfiguraçãoGlobal": {
      "main": [
        [
          {
            "node": "FromMe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FromMe?": {
      "main": [
        [
          {
            "node": "Chave Block",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bot do Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "ConfiguraçãoGlobal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bd37fe38-6bf1-424c-8d20-5e0b5c2da04a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "53bb70dc6c6f546ef672a1f4c0098080ec5148ab290509e189dec2a2ad90fbb5"
  },
  "id": "hFp7SkNp7m6Dp239",
  "tags": []
}